.slider {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  width: 76px;
  height: 38px;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 5px 25px -5px $grayish-blue;

  &__arrow {
    height: 100%;
    width: 50%;
  }

  #arrow-left,
  #arrow-right {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 1.3rem;
  }

  #arrow-left {
    background-image: url(../images/icon-prev.svg);
  }

  #arrow-right {
    background-image: url(../images/icon-next.svg);
  }
}
